.is-inline-spacing > div:not(:first-child) {
    padding-left: 1rem;
}

.is-inline-spacing > div:not(:last-child) {
    padding-right: 1rem;
}

a.navbar-item.is-active, .navbar-link.is-active {
    font-weight: 500;
}
