@tailwind base;
@tailwind components;
@tailwind utilities;

.is-inline-spacing {
    display: flex;
    column-gap: 1rem;
}

@media screen and (max-width: 768px) {
    .is-inline-spacing > div {
        flex-basis: 100%;
    }
}

a.navbar-item.is-active, .navbar-link.is-active {
    font-weight: 500;
}
