[Unit]
Description=woodhouse-shelly
After=network-online.target

[Service]
WorkingDirectory=/home/user/woodhouse-4/build-linux-amd64
ExecStart=/home/user/woodhouse-4/build-linux-amd64/woodhouse-shelly \
    --addr localhost:4000 \
    --store shelly.db \
    -v

[Install]
WantedBy=default.target
