[Unit]
Description=woodhouse-core
After=network-online.target

[Service]
WorkingDirectory=/home/user/woodhouse
ExecStart=/home/user/woodhouse/woodhouse-core \
    --config /home/user/woodhouse/woodhouse.yaml \
    -v

[Install]
WantedBy=default.target
