[Unit]
Description=woodhouse-shelly
After=network-online.target

[Service]
WorkingDirectory=/home/user/woodhouse
ExecStart=/home/user/woodhouse/woodhouse-shelly \
    --addr localhost:4000 \
    --store shelly.db \
    -v

[Install]
WantedBy=default.target
