[Unit]
Description=woodhouse-core
After=network-online.target

[Service]
WorkingDirectory=/home/user/woodhouse-4/build-linux-amd64
ExecStart=/home/user/woodhouse-4/build-linux-amd64/woodhouse-core \
    --config /home/user/woodhouse-4/build-linux-amd64/woodhouse.yaml \
    -v

[Install]
WantedBy=default.target
